# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Learn_Java_Core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
